:root {
  /* Colours */
  --primary-bg-color: #fceb94; /* used */

  --primary-font-color: #000; /* used */

  --secondary-bg-color: #5d656c; /* used */
  --secondary-font-color: #d5e5f4; /* used */

  /* CAN BE DELETED WHEN THE PLACEHOLDER CLASS IS DELETED */
  --placeholder-bg-color: #eb9e1a; /* used */
  --placeholder-font-color: #575c61; /* used */

  /* NOT USED AT THE MOMENT */
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  /* Borders */
  --border-color: #007bff; /* used */
  --border-color-light: #f7f5c2; /* used */
  --border-radius: 0.25rem;

  /* Links */
  --link-color: #84888e; /* used */
  --hover-color: #f9fcfe; /* used */
  --active-color: #f52727; /* used */

  /* From styletile */

  /* Fonts */
  --logotype-font: "Roboto", sans-serif;
  --headline-font: "Roboto", sans-serif;
  --body-font: "Roboto", sans-serif;
  --link-font: "Calibri", sans-serif;

  /* Text sizes */
  --logotype-size: 1.5rem;
  --headline1-size: 2rem;
  --headline2-size: 1.5rem;
  --headline3-size: 1.25rem;
  --headline4-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1.25rem;
  --followup-text-size: 0.8rem;
  --form-submit-size: 1rem;

  /* Text colors */
  --logotype-color: #ffffff;
  --headline-color: #bbc3ca;
  --headline-color-inverted: #fffae2;
  --bodytext-color: #575c61;
  --bodytext-color-inverted: #f9fcfe;
  --cta-text-color: #bbc3ca;
  --cta-text-color-inverted: #bbc3ca;
  --followup-text-color: #000;
  --followup-text-color-inverted: #bbc3ca;
  --formfield-placeholder-color: #6f90eb;
  --formfield-text-color: #000000;
  --form-submit-color: #fff;
  --form-submit-color-inverted: #bbc3ca;

  /* Background colors */
  --logotype-background-color: #000;
  --header-background-color: #6f90eb;
  --article-background-color: #dbdde3;
  --news-background-color: #dbdde3;
  --news-background-color-inverted: #eeebe9;
  --info-background-color: #fff;
  --headline-bg-color: #000;
  --headline-bg-color-alert: #ff4b00;
  --headline-bg-color-inverted: #000;
  --bodytext-bg-color: #dbdde3;
  --bodytext-bg-color-inverted: #dbdde3;
  --cta-text-bg-color: #dbdde3;
  --cta-text-bg-color-inverted: #dbdde3;
  --followup-text-bg-color: #fffae2;
  --followup-text-bg-color-inverted: #dbdde3;
  --form-background-color: #fff;
  --form-text-color: #000;
  --formfield-background-color: #fffae2;
  --formfield-background-color-active: #f8cf00;
  --form-submit-bg-color: #ff4b00;
  --form-submit-bg-color-inverted: #dbdde3;

  /* Info-boxes */
  --info-bg-color-yellow: #fffae2;
  --info-bg-color-green: #def5db;
}
