#webform {
  background-color: var(--form-background-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 1.4;
  /* accent-color: #ff4b00; */
}

fieldset {
  background-color: #dbe2f5;
  border: 1px solid #dbdde3;
  padding: 1rem;
  margin: 1rem 0;
}
legend {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1rem;
  margin: 0.5rem 0;
  padding: 0;
}
#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0 1rem;
}
.formcontainer {
  display: flex;
  justify-content: flex-start;
}
.form-group {
  margin-bottom: 1rem;
}
#form-section h3 {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
}
form p {
  font-size: 0.9rem;
  margin: 0 0 0.5rem 0;
  padding: 0;
}

/* Styling af diverse form-input */
/* ******************************* */

input,
select,
textarea,
range {
  background-color: var(--formfield-background-color);
  color: var(--formfield-text-color);
  border: 1px solid var(--formfield-background-color);
  padding: 0.2rem;
  font-size: 0.9rem;
}
#where .form-group {
  margin-right: 1rem;
}
#what .form-group {
  margin-right: 2rem;
}
#contact .formcontainer {
  gap: 1rem;
}
#what label {
  display: block;
}
#location-number,
#location_zipcode {
  max-width: 55px;
}
.blok {
  display: block;
  margin-bottom: 0.1rem;
}
textarea {
  width: 100%;
  max-width: 620px;
  height: 60px;
  padding: 0.5rem;
  resize: vertical;
}
input::placeholder {
  color: var(--formfield-placeholder-color);
}
input:invalid {
  border: 2px solid red;
}
input:user-invalid {
  border: 1px solid red;
  box-shadow: 0 0 8px red;
}

/* Styling af knapper */
/* ******************************* */

button {
  background-color: var(--form-submit-bg-color);
  color: var(--form-submit-color);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  margin: 0 0 1rem;
}

#reset_btn {
  margin-top: 1rem;
}

/* Styling af summary */
/* ******************************* */

#sum div {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}

#form-summary h3 {
  font-size: 0.9rem;
  /* line-height: 0.8rem; */
  font-weight: 600;
  margin: 0;
  /* padding: 0; */
}

#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 4%, 7rem);
}

#form-summary p {
  font-size: 0.9rem;
  margin: 0 0 0.8rem 0;
}

/* Styling af farlighedsniveau (danger range) */
/* ******************************* */

#danger {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* accent-color: red; */
  transition: all 1.5s;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  border-radius: 5px;
  background-color: var(--info-color);
  transition: all 1.5s;
}

/* styling af date-field*/
/* Kommer kun frem hvis man har klikket nej i radiobutton */
/* ****************************************************** */

/* #observation-date .form-group {
  display: flex;
  gap: 1rem;
}

#date-field {
  margin-top: 1.5rem;
} */

/* Styling af Zombie-info  */
/* ******************************* */

/* #zombie-info {
  background-color: #6f90eb;
  color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  visibility: hidden; 
}

#zombie-info.visible {
  visibility: visible;
} */
